<template>
    <div v-if="errors">
        <div v-for="(v, k) in errors" :key="k"
             class="bg-red-500 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
            <p v-for="error in v" :key="error" class="text-sm">
                {{ error }}
            </p>
        </div>
    </div>

    <div v-if="notification">
        <div class="bg-lime-500 text-black rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
            <p  class="text-sm">
                {{ notification }}
            </p>
        </div>
    </div>
    <form class="space-y-6" @submit.prevent="saveDeal">
        <div class="space-y-4 rounded-md shadow-sm">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Deal name</label>
                <div class="mt-1">
                    <input type="text" name="Deal_Name" id="Deal_Name"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.Deal_Name">
                </div>
            </div>

            <!--            <div>-->
            <!--                <label for="email" class="block text-sm font-medium text-gray-700">Stage</label>-->
            <!--                <div class="mt-1">-->
            <!--                    <input type="text" name="Stage" id="Stage"-->
            <!--                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"-->
            <!--                           v-model="form.Stage">-->
            <!--                </div>-->
            <!--            </div>-->
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Stage</label>
                <div class="mt-1">
                    <select v-model="form.Stage">
                        <option v-for="stageList in stageLists" v-bind:value="stageList.actual_value">
                            {{ stageList.actual_value }}
                        </option>
                    </select>
                </div>
            </div>

            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Related account</label>
                <div class="mt-1">
                    <select v-model="form.Account_Name">
                        <option v-for="account in accounts" v-bind:value="account.id">
                            Account name:{{ account.Account_Name }}  Website: {{ account.Website }}
                        </option>
                    </select>
                </div>
            </div>

        </div>

        <button type="submit"
                class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
            Create Deal
        </button>
    </form>
</template>

<script>
import {onMounted, reactive} from "vue";
import useDeals from "../../../composables/deals.js";
import useTokens from "../../../composables/token.js";
import useDataLists from "../../../composables/dataLists.js";
import useAccounts from "../../../composables/accounts.js";

export default {
    setup() {
        const form = reactive({
            'Deal_Name': '',
            'Stage': '',
            'Account_Name': '',
        })


        const {errors,notification, storeDeal} = useDeals()
        const {checkToken} = useTokens();
        const {stageLists, getStagesLists} = useDataLists();
        const {accounts, getAccounts} = useAccounts()

        const saveDeal = async () => {
            checkToken();
            await storeDeal({...form});
        }

        onMounted(() => {
            getStagesLists()
            getAccounts()
        })

        return {
            form,
            errors,
            stageLists,
            accounts,
            notification,
            saveDeal
        }
    }
}
</script>
