<template>

    <div class="overflow-hidden overflow-x-auto p-6 bg-white border-gray-200">
        <div class="flex place-content-start mb-4">
            <div class="px-4 py-2 text-white bg-gray-800 cursor-pointer">
                <router-link :to="{name: 'deals.create'}" class="text-sm font-medium"> Create Deal</router-link>
            </div>
        </div>
        <div class="min-w-full align-middle">
            <table class="min-w-full divide-y divide-gray-200 border">
                <thead>
                <tr>
                    <th class="px-6 py-3 bg-gray-50 text-left">
                        <span class="text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">ID</span>
                    </th>
                    <th class="px-6 py-3 bg-gray-50 text-left">
                        <span class="text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Name</span>
                    </th>
                    <th class="px-6 py-3 bg-gray-50 text-left">
                        <span
                            class="text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Stage</span>
                    </th>

                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200 divide-solid">
                <tr v-for="deal in deals">
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
                        {{ deal.id }}
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
                        {{ deal.Deal_Name }}
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">
                        {{ deal.Stage }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script setup>
import { onMounted } from "vue";
import useDeals from "../../../composables/deals.js";
import useTokens from "../../../composables/token.js";

const { deals,notification, getDeals,destroyDeal } = useDeals()
const {checkToken} =useTokens()

const deleteAccount = async (id) => {
    if (!window.confirm('Do you want to delete record?')) {
        return
    }
    await destroyDeal(id);
    await getDeals();
}


onMounted(() => {
    checkToken();
    getDeals()
})
</script>

