<template>
    <div v-if="errors">
        <div v-for="(v, k) in errors" :key="k" class="bg-red-500 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
            <p v-for="error in v" :key="error" class="text-sm">
                {{ error }}
            </p>
        </div>
    </div>

    <div v-if="notification">
        <div class="bg-lime-500 text-black rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
            <p  class="text-sm">
                {{ notification }}
            </p>
        </div>
    </div>

    <form class="space-y-6" @submit.prevent="saveAccount">
        <div class="space-y-4 rounded-md shadow-sm">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Account name</label>
                <div class="mt-1">
                    <input type="text" name="Account_Name" id="Account_Name"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.Account_Name">
                </div>
            </div>

            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Account website</label>
                <div class="mt-1">
                    <input type="text" name="Website" id="Website"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.Website">
                </div>
            </div>

            <div>
                <label for="address" class="block text-sm font-medium text-gray-700">Phone number</label>
                <div class="mt-1">
                    <input type="text" name="Phone" id="Phone"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.Phone">
                </div>
            </div>

        </div>

        <button type="submit"
                class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
            Create
        </button>
    </form>
</template>

<script>
import {reactive, ref} from "vue";
import useAccounts from "../../../composables/accounts.js";
import useTokens from "../../../composables/token.js";

export default {
    setup() {
        const form = reactive({
            'Account_Name': '',
            'Website': '',
            'Phone': '',
        })

        const { errors,notification, storeAccount } = useAccounts()
        const {checkToken} =useTokens();

        const saveAccount = async () => {
            checkToken();
            await storeAccount({...form});
        }


        return {
            form,
            errors,
            notification,
            saveAccount
        }
    }
}
</script>
